.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 200px;
    height: 200px;
    border: black solid 1px;
}

.mole {
    background-image: url("mole.jpg");
    background-size: cover;
}